body {
	text-align: center;
}

.panel {
	filter: drop-shadow(0 0 0.75rem #aeaeae); /*grayscale(1);*/
	/*padding: 50px;*/
}
/*.panel:hover {*/
	/*filter: drop-shadow(0 0 0.75rem #aeaeae) grayscale(0);*/
/*}*/

video.game {
	/*height: 100%;*/
	width: 400px;
	/*margin: auto;*/
	/*margin: 0;*/
	/*padding-top: 0;*/
	margin-top: 0;
}
video.gamewide {
	/*height: 100%;*/
	width: 800px;
	/*margin: auto;*/
	/*margin: 0;*/
	/*padding-top: 0;*/
	margin-top: 0;
}
video.proto {
	height: 400px;
	margin: 10px;
}

#header {
	/*background: green;*/
	color: black;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 60px;
}

h1 {
	font-size: 60px;
	padding: 10px;
	line-height: 50px;
}
#topdesc {
	width: 100%;
	/* background: green; */
	font-size: 20px;
	/* margin-bottom: 30px; */
}

body {
	font-family: Arial;
	width: 100%;
	margin: 0;
}


h2 {
	font-size: 50px;
	padding: 0;
	/*vertical-align: top;*/
	display: inline;
}

span.year {
	color: lightgray;
	font-weight: bold;
	font-size: 40px;
	margin-left: 10px;
	/*vertical-align: top;*/
}

#maingames {
	/*width: 80%;*/
	max-width: 1000px;
	/* background: green; */
	margin: auto;
	margin-top: -350px;
	margin-bottom: -300px;
	transform: scale(0.8);
}
.gamerow {
	display: flex;
	width: 100%;
	/*height: 800px;*/
	/*padding-bottom: 80px;*/
	margin-bottom: 80px;
	/*background: lime;*/
}
.gamerowwide {
	display: block;
	width: 100%;
	/*height: 800px;/
	/*padding-bottom: 80px;*/
	margin-bottom: 80px;
	/*background: lime;*/
	text-align: left;
}
.vidcontainer {
	/*width: 50%;*/
	background: red;
}
.info {
	flex-grow: 1;
	/*background: yellow;*/
	text-align: left;
	margin-left: 30px;
	min-width: 600px;
	/*max-width: 375px;*/
}
.infobelow {
	display: block;
	/*flex-grow: 1;*/
	/*background: yellow;*/
	text-align: left;
	margin-left: 0;
	margin-top: 20px;
	/*max-width: 400px;*/
}
.imglink {
	width: 200px;
	padding-bottom: 15px;
}
.app-icon {
	width: 75px;
	padding-bottom: 15px;
	/*margin-right: 15px;*/
	filter: drop-shadow(0 0 0.3rem #cacaca); /*grayscale(1);*/

}

a {
	color: black;
}

p.gamedesc {
	font-size: 20px;
	margin-top: 10;
	max-width: 375px;
}

#protoheader {
	/*background: red;*/
	color: black;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	margin-bottom: 40px;
}
#protodesc {
	/* width: 100%; */
	margin: auto;
	/*width: 600px;*/
	width: 100%;
	/*background: green;*/
	font-size: 20px;
	margin-top: 20px;
}
#protos {
	max-width: 750px;
	margin: auto;
	line-height: 0;
}
#copyright {
	width: 100%;
	/*background: green;*/
	font-size: 20px;
	margin-bottom: 30px;
}
